{% extends 'KMZERO/base.html' %}

{% block body %}

<h2>Bem-vindo, {{ user.username }}</h2>

{% if user.groups.all.0.name == "ADM" %}

    <div class="alert alert-primary">
        <h3>Painel Administrador</h3>

        <a href="#">Cadastrar Atleta</a><br>
        <a href="#">Criar Evento</a><br>
        <a href="#">Ver Atletas</a><br>
    </div>

{% else %}

    <div class="alert alert-success">
        <h3>Painel Atleta</h3>

        <a href="#">Listar Eventos</a><br>
        <a href="#">Minhas Inscrições</a><br>
        <a href="#">Se Inscrever</a><br>
    </div>

{% endif %}

{% endblock %}